*       
        {
box-sizing: border-box;
text-align: center;
        }
body    {
background-image: url(../images/congruent_outline.png)
        }
div     {
    border: solid 2px #009688;
    padding: 15px;
    width: 50%;
        }
h1{
    font-size: 125px;
    width: 100%;
    color: whitesmoke;
}
h3, h2, span
        {
font-weight: bold;
text-align: center;
font-size: 30pt;
        }
ol      {
list-style: decimal inside; 
font-size: 25px;
        }
.howToPlay
        {
width: 90%;
margin-left: 50px;
        }
.nmbrToMatch, .WandL{
float: left;
width: 15%;
height: 60px;
        }
.usrTotal{
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background: lightgoldenrodyellow;
        }
.CrstLs {
    clear: both;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 300px;    
    background-color: lightblue;
    padding-top: 50px;
        }
img
        {
    width: 24%;
    border: 1px solid red;
    box-shadow: whitesmoke 5px 5px 5px;
    border-radius: 5px;
    transition: box-shadow 1s, transform 1s;

        }
img:hover{
    box-shadow: 10px 10px 10px black;
    cursor: pointer;
    transform: translate(5px,30px);
    transition: box-shadow 1s, transform 1s;
}
        
.howToPlay{
background: lightcoral;
margin-left: auto;
margin-right: auto;
        }
.nmbrMatch{
    background: lightgreen;
margin-left: auto;
margin-right: auto;
        }
.W-and-L
        {
    background: lightpink;
margin-left: auto;
margin-right: auto
        }
.crstLs
        {
    background: lightseagreen;
margin-left: auto;
margin-right: auto
        }